
<%- include('partials/header') %>
<div id="big-container">
    <div id="first-container"><%= title %></div>
    <nav class="menu">
        <ul>
            <li>
            <details>
                <summary><%= user %></summary> 
            </details>
            </li>            
        </ul>
    </nav>
    <button id="logout" type="submit" onclick="">logout</button>
    <div id="second-container">
        <p>Dashboard</p>
        <p>You are logged in</p>

    </div>
</div>

<%-include('partials/footer') %>