<%- include('partials/header') %>
<div id="big-container">
    <div id="login-first-container"><%= title %></div>
    <div id="login-second-container">
        <form action="#" method="post">
            <p>name<input type="text" name="name"></p>
            <p>Password<input type="text" name="password"></p>
            <p>Password（確認）<input type="text" name="passwordComfirm"></p>
            <button name="login">Login</button>
            <a href="#">Forget Your Password?</a>
        </form>

    </div>
</div>


<%-include('partials/footer') %>